<%- include('partials/header',{title:"Comment Details"}) %>

<body>
    <div class="container">
        <h1>Comment id: <%=comment.id%></h1>

        <br>
        <div class="col-sm-6">

        
          <div class="card">
              <div class="card-header">
                <b>Comment</b>
              </div>
              <div class="card-body">
                <blockquote class="blockquote">
                  <p><%=comment.comment%></p>
                  <footer class="blockquote-footer"><%=comment.username%></footer>
                </blockquote>
              </div>
          </div>
          <br> 
          <form action="/comments/<%=comment.id%>?_method=DELETE"" method = "post">
              <a class = "btn btn-primary" href="/comments/<%=comment.id%>/edit">Edit</a>
              <button class="btn btn-danger"  type="submit">Delete</button>
          </form>
        </div>

    </div>
</body>

</html>